/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1760px) {
    .section1 .mainSlider .item .bg {
        background-size: cover !important;
    }
}

@media only screen and (max-width: 1440px) {
    .section1 .mainSlider .item .wrap .block-inner {
        padding-right: 50px;
    }
}

@media only screen and (max-width: 1200px) {
    .section1 .mainSlider .item .wrap .block-inner {
        max-width: 500px;
    }
}

@media only screen and (max-width: 1170px) {
    .v3-navbar2 .nav ul li a {
        padding: 18px 5px;
    }
}

@media only screen and (max-width: 1024px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .section1 .mainSlider .item .wrap .block-inner {
        max-width: 430px;
    }
    .section1 .mainSlider .item .wrap .block-article .block-inner .block-description {
        font-size: 13px;
        line-height: 16px;
    }
    .section1 .mainSlider .item .wrap .block-article .block-inner .block-description span {
        font-size: 13px !important;
        line-height: 16px !important;
    }
    .section1 .mainSlider .item .wrap .block-article .block-inner .block-description h3,
    .section1 .mainSlider .item .wrap .block-article .block-inner .block-description h5 {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 5px;
    }
    .section1 .mainSlider .item .bg {
        background-position: right !important;
        height: 425px;
    }
    .section1 .mainSlider .item .container .wrap .block-article .block-inner h4 {
        font-size: 27px;
    }
}

@media only screen and (max-width: 860px) {
    .section1 .mainSlider .item .container .wrap .block-article {
        transform: unset;
    }
    .section1 .mainSlider .item .wrap .block-inner {
        max-width: 400px;
        margin-left: 23px;
        height: 410px;
    }
    .deposits-banner {
        max-width: 50%;
        margin-left: 23px;
    }
    .section1 .mainSlider .item .container .wrap .block-article {
        top: 0px;
    }
    .section1 .mainSlider .item .container .wrap .block-article .block-inner .buttons {
        position: absolute;
        bottom: 15px;
    }
    .section1 .mainSlider .item .bg {
        height: 355px;
        top: 45px;
    }
    .deposits-banner__subtitle p {
        font-size: 15px;
        line-height: 18px;
    }
    .section1 .mainSlider .item .container .wrap .block-article .block-inner h4 {
        font-size: 27px;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 770px) {
    .section1 .mainSlider .item .wrap .block-article {
        transform: unset;
        -webkit-transform: unset;
    }
    .section1 .mainSlider .item .wrap .block-inner {
        max-width: calc(100% - 180px);
    }
    .section1 .mainSlider .item .wrap .block-inner .block-description {
        text-shadow: 1px 1px 1px #fff, 0 0 10px #fff
    }
    .section1 .mainSlider .item .container .wrap .block-article .block-inner h3 {
        font-size: 32px;
    }
    .section1 .mainSlider .item .container .wrap .block-article .block-inner h4 {
        font-size: 27px;
    }
    .section1 .mainSlider .item .container .wrap .block-article .block-inner h5 {
        font-size: 24px;
    }
    .section1 .mainSlider .item .container .wrap .block-article .block-inner .btn {
        top: 0;
    }
}

@media only screen and (max-width: 740px) {
    .__jivoMobileButton .button_abdd {
        bottom: 66px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 640px) {
    .section1 .mainSlider .item {
        min-height: 600px;
        background: #EEF1F5;
    }
    .section1 .mainSlider .item .bg {
        top: unset;
        bottom: 0;
        background-size: unset !important;
        width: 110%;
    }
    .section1 .owl-theme .owl-dots .owl-dot span {
        width: 29px;
        margin: 5px 3px;
    }
    .section1 .mainSlider .item .wrap .block-inner {
        max-width: 100%;
        height: unset;
    }
    .section1 .mainSlider .item .container .wrap .block-article .block-inner .buttons {
        position: relative;
        justify-content: center;
    }
    .section1 .mainSlider .item .container .wrap .block-article .block-inner .btn a {
        padding: 15px 20px;
        font-size: 18px;
        line-height: 8px;
    }
    .section1 .mainSlider .item .container .wrap .block-article {
        top: 0;
    }
    .section1 .mainSlider .item .wrap .block-article .block-inner .block-description h3 {
        padding-bottom: 13px;
    }
    .section1 .mainSlider .item .container .wrap .block-article .block-inner .btn {
        top: 11px;
    }
}

@media only screen and (max-width: 580px) {
    .section1 .mainSlider .item {
        min-height: 600px;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0;
        background: transparent;
        backdrop-filter: none;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
    .section1 .container .advantageBlock__list.owl-carousel.owl-theme.owl-loaded {
        min-width: unset !important;
        background-color: unset;
        box-shadow: unset;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
    .section1 .container .advantageBlock__list.owl-carousel.owl-theme.owl-loaded .owl-stage-outer {
        display: none;
    }
    .section1 .mainSlider .item .container .wrap .block-article .block-inner .btn {
        top: inherit;
        padding-top: 20px;
    }
    .section1 .mainSlider .item .container .wrap .block-image img {
        width: 120%;
        min-width: inherit;
        margin: auto;
        margin-left: -15px;
    }
    .section1 .mainSlider .item .container .wrap .block-article .block-inner h3 {
        line-height: 40px;
    }
    .section1 .mainSlider .item .container .wrap .block-article .block-inner h4 {
        font-size: 26px;
        line-height: 130%;
        text-align: center;
    }
    .section1 .mainSlider .item .container .wrap .block-article .block-inner h5 {
        font-size: 16px;
        line-height: 150%;
        text-align: center;
    }
    .main_search {
        display: none;
    }
    .btn_test {
        min-width: 185px;
        padding: 9px 12px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .section1 {
        overflow: hidden;
    }
    .section1 .mainSlider .item {
        min-height: 600px;
    }
    .section1 .mainSlider .item .bg {
        top: unset;
        bottom: 0;
        width: 110%;
        background-size: cover !important;
    }
    .section1 .mainSlider.owl-loaded {
        min-height: 350px;
        margin-top: 50px;
    }
    .item.specialFeatured {
        display: none;
    }
    .section1 .mainSlider .item .container .wrap .block-article .block-inner h3 {
        font-size: 26px;
        line-height: 36px;
    }
    .deposits-banner__title {
        font-size: 17px;
        line-height: 20px;
        margin-top: 20px;
    }
    .section1 .mainSlider .item .container .wrap .block-article .block-inner .btn a,
    .checkoutEasy-btn__item a {
        font-size: 15px;
        padding: 9px 24px;
        line-height: 22px;
    }
    .deposits-banner__subtitle p {
        display: none;
    }
    .section2 .container {
        padding: 0 5px;
    }
    .my-lg-0 {
        margin: 0!important;
    }
    .mt-2 {
        margin-top: 0!important;
    }
    .footer-top-right-social .d-flex {
        flex-wrap: wrap;
        gap: 10px;
    }
    footer .v3-footer-bottom {
        margin-bottom: 40px;
    }
    footer .footer-top-left-list {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 375px) {
    .section1 .mainSlider .item .wrap .block-inner {
        height: 255px;
    }
    .section1 .mainSlider .item .bg {
        width: 123%;
        background-size: cover !important;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 360px) {
    .section1 .mainSlider .item .wrap .block-article .block-inner .block-description h3 {
        padding-bottom: 0;
    }
    /* .section1 .mainSlider .item .wrap .block-inner {
        margin-left: 10px;
    } */
}

@media only screen and (max-width: 320px) {
    .item.specialFeatured,
    .nav-link-right {
        display: none;
    }
}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}